 /* 基本樣式 */
 body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

.content-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 0;
    align-items: flex-start;
    background-color: #fefaf3;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-container {
    flex: 1;
    position: relative;
}

.video-container video {
    width: 100%;
    height: auto;
    border: 2px solid #d6c9a1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.description {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #d6c9a1;
    border-radius: 10px;
}

.description h3 {
    margin-top: 0;
    color: #8a6d3b;
    font-family: "Arial", sans-serif;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    cursor: pointer;
}

.description h3:hover {
    color: #d89b32;
    text-decoration: underline;
}

.description p {
    line-height: 1.6;
    color: #5e5e5e;
    font-family: "Arial", sans-serif;
}